# ===== Maven =====
target/

# ===== IntelliJ IDEA =====
.idea/
*.iml

# ===== VS Code =====
.vscode/

# ===== Compiled files =====
*.class

# ===== Logs =====
*.log

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== JVM crash logs =====
hs_err_pid*
replay_pid*

# ===== Environment files =====
.env
